/pantalaimon
/.env
/data/pantalaimon/pan.db
/data/postgres
/data/synapse/media_store
/data/synapse/signing.key
/data/synapse/media_store
/data/signald/**
/data/bridges/**/*-mautrix.db*
/data/bridges/steam/database.db
/data/bridges/discord/registration.yaml
/data/bridges/facebook/registration.yaml
/data/bridges/gmessages/registration.yaml
/data/bridges/googlechat/registration.yaml
/data/bridges/instagram/registration.yaml
/data/bridges/linkedin/registration.yaml
/data/bridges/signal/registration.yaml
/data/bridges/slack/registration.yaml
/data/bridges/telegram/registration.yaml
/data/bridges/twitter/registration.yaml
/data/bridges/whatsapp/registration.yaml
